<ion-view view-title="Main">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider"><a href="#/tab/commande">Commandes récentes</a></div>
      <div class="item item-body">
        <div>
          <ul>
            <li><a href="#/tab/commande/1">Commande 1</a></li>
            <li><a href="#/tab/commande/2">Commande 2</a></li>
            <li><a href="#/tab/commande/3">Commande 3</a></li>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Actions</div>
      <div class="item item-body">
        <div>
          <button>Nouveau</button>
          <button>Ouvrir</button>
          <button>Force sync</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
