<ion-view view-title="{{commande.name}} | {{ commande.matricule }}">
	<ion-content>
		<div class="card">
			<p>
				{{commande.notes}}
			</p>
			<div ng-bind-html="commande.descriptionLong"></div>
		</div>
		<h2>Mesures</h2>

		<ion-list>
			<ion-item type="item-text-wrap"  class="item-remove-animate item-avatar item-icon-right"  ng-repeat="(key, mesure) in commande.mesures track by key">
				<div ui-sref="tab.mesure({commandeId: commande.id, mesureId: key})">{{ mesure.name }} {{ mesure.produit }}
				{{ mesure.state }}
				</div>
			<div resume-mesures mesure="mesure"></div>
			</ion-item>

			<ion-item type="" ng-show="commande.mesures.length == 0">Pas de mesures</ion-item>

			<ion-item ng-show="mesureDraft">
				<label>
					Produit
					<select ng-model="produitFormulaire" ng-options="item.produit for item in produitsFormulaire">
					</select>
				</label>
				<button class="button" ng-click="saveMesure(mesureDraft, produitFormulaire)">Enregistrer</button>

			</ion-item>
		</ion-list>
			<button class="button" ng-click="newMesure()">+</button>
			<button class="button">Terminer la commnande</button>
		</ion-list>
	</ion-content>
</ion-view>
