<ion-view view-title="{{commande.name}}">
	<ion-nav-buttons side="secondary">
		<button class="button" ng-click="newMesure()">
			+
		</button>
	</ion-nav-buttons>
	<ion-content class="padding">
		<p>
			{{commande.description}}
		</p>
		<div ng-bind-html="commande.descriptionLong"></div>
		<h2>Mesures</h2>
		<ul>
			<li ng-repeat="mesure in mesures"><a ui-sref="tab.mesure({commandeId: commande.id, mesureId: mesure.id})">{{ mesure.name }} {{ mesure.produit }} </a></li>
		</uL>
	</ion-content>
</ion-view>
