<ion-view view-title="Commandes">
	<ion-nav-buttons side="secondary">
		<button class="button" ng-click="newCommande()">
			+
		</button>
		<button class="button" ng-click="refresh()">
			Refresh
		</button>
	</ion-nav-buttons>
	 <ion-content>
		<ion-list>
				<div class="list list-inset">
					<label class="item item-input">
						<i class="icon ion-search placeholder-icon"></i>
					<input type="text" placeholder="Search" ng-model="commandeFilterTxt">
					</label>
				</div>
			
			<ion-item ng-show="commandeDraft">
				<label>
					Nom
					<input type="text" ng-model="commandeDraft.name">
				</label>
				<label>
					Matricule
					<input type="text" ng-model="commandeDraft.matricule">
				</label>

				<label>
					Notes
					<textarea ng-model="commandeDraft.notes"></textarea>
				</label>
				<button class="button" ng-click="saveCommande(commandeDraft)">Enregistrer</button>
			</ion-item>

			<ion-item ng-show="commandes.length == 0">
				<h2>Aucune de commande</h2>
			</ion-item>
			<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="commande in commandes | commandeFilter:commandeFilterTxt | orderBy: 'state'" type="item-text-wrap" href="#/tab/commande/{{commande.id}}">
				<h2>{{commande.name}} ({{ commande.matricule }})</h2>
				<p>{{commande.notes}}</p>
				<p>State : {{ commande.state }} </p>
				<p><span ng-repeat="mesure in commande.mesures track by $index">{{ mesure.produit }} 
				<span ng-hide="$last">, </span></span></p>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>