<ion-view view-title="Commandes">
	<ion-nav-buttons side="secondary">
		<div show-login-state></div>
		<button class="button" ng-click="newOrder()">
			+
		</button>
		<button class="button" ng-click="refresh()">
			Refresh
		</button>
	</ion-nav-buttons>
	 <ion-content>
		<ion-list>
			<div class="list list-inset">
				<label class="item item-input">
					<i class="icon ion-search placeholder-icon"></i>
				  <input type="text" placeholder="Search" ng-model="orderFilterTxt">
			  </label>
			</div>
			
			<ion-item ng-show="orderDraft">
				<label>
					Nom
					<input type="text" ng-model="orderDraft.partner_name">
				</label>
				<label>
					Matricule
					<input type="text" ng-model="orderDraft.partner_matricule">
				</label>

				<label>
					Notes
					<textarea ng-model="orderDraft.notes"></textarea>
				</label>
				<button class="button" ng-click="saveOrder(orderDraft)">Enregistrer</button>
			</ion-item>

			<ion-item ng-show="orders.length == 0">
				<h2>Aucune commande</h2>
			</ion-item>
			<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="order in orders | orderFilter: orderFilterTxt | orderBy: 'state' track by order.id" type="item-text-wrap" href="#/tab/order/{{order.id}}">
				<h2>{{order.name}} | {{ order.partner_name }} </h2>
				<p>{{order.notes}} {{ order.partner_matricule }}</p>
				<p><span ng-repeat="measure in order.measures track by $index">{{ measure.produit }} 
				<span ng-hide="$last">, </span></span></p>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
