<ion-view view-title="Commandes">
	<ion-nav-buttons side="secondary">
		<div show-login-state></div>
	</ion-nav-buttons>
	 <ion-content>
		<ion-list>
			<div class="row">
				<div class="col col-20">
					<div class="button-bar">
						<a class="button button-positive" ng-click="toggleMode()">
							<i class="icon ion-plus-round"></i>
						</a>
						<a class="button button-calm" ng-click="refresh()">
							<i class="icon ion-refresh"></i>
						</a>
					</div>
				</div>
				<div class="col">
					<div class="list list-inset" style="margin-top:0px;">
						<label class="item item-input">
							<i class="icon ion-search placeholder-icon"></i>
							<input type="text" placeholder="Search" ng-model="orderFilterTxt">
					  </label>
					</div>
				</div>
			</div>
			<ion-item ng-show="editMode">
				<label>
					Nom
					<input type="text" ng-model="orderDraft.partner_name">
				</label>
				<label>
					Matricule
					<input type="text" ng-model="orderDraft.partner_matricule">
				</label>

				<label>
					Notes
					<textarea ng-model="orderDraft.notes"></textarea>
				</label>
				<button class="button" ng-click="saveOrder(orderDraft)">Enregistrer</button>
			</ion-item>
		</ion-list>
		<ion-list show-delete="editMode">

			<ion-item ng-show="orders.length == 0">
				<h2>Aucune commande</h2>
			</ion-item>
			<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="order in orders | orderFilter: orderFilterTxt | orderBy: 'state' track by order.id" type="item-text-wrap" href="#/tab/order/{{order.id}}">
				<ion-delete-button ng-show="order.isLocalOnly" class="ion-minus" ng-click="removeOrder(order, $index)"></ion-delete-button>

				<h2><span class="label" ng-show="!!order.name">{{order.name}}</span> {{ order.partner_name }} </h2>
				<p>{{order.notes}} {{ order.partner_matricule }}</p>
				<p><span ng-repeat="measure in order.measures track by $index">{{ measure.produit }} 
				<span ng-hide="$last">, </span></span></p>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
