<ion-view view-title="{{commande.mesure.produit }}">
  <ion-content class="padding">
  	<p>{{ commande.notes}}</p>

	<div ng-show="formulaire.length == 0">Pas de formulaire</div>

	<div class="list" ng-repeat="categorie in formulaire">
		<div class="item-divider">{{ categorie.categorie }}</div>
		<div class="item" ng-repeat="c in categorie.questions" ng-class="{'active': mesure.data[c.label]}">
			<div ng-switch="c.type">
				<div ng-switch-when="array"  ng-click="click(c.label, $event)">
					<div>{{c.label}}</div>
					<div class="button-bar">
						<button class="button" ng-repeat="v in c.valeurs" ng-class="{'active': v == mesure.data[c.label]}">{{ v }}</button>
					</div>
				</div>

				<div ng-switch-when="numeric" class="button-bar">
					<div>{{c.label}}</div>
					<input ng-class="{'active': !!mesure.data[c.label]}" ng-model="mesure.data[c.label]" type="number"></input>
				</div>

			</div>
		</div>
	</div>

	<div resume-mesures mesure="mesure"></div>
	<div class="list">
		<div class="item item-button-right">
			<button class="button button-positive" ng-click="validate()">Valider</button>
	  	</div>
	  </div>
  </ion-content>
</ion-view>
