<ion-view view-title="Mesures - {{order.order_line.product_name }}">
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button ng-click="saveAndBackToOrder()">Retour
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-title>{{ order.partner_name }} - {{ measure.product_name  }}</ion-nav-title>
    <ion-nav-buttons side="secondary">
        <div show-login-state></div>
    </ion-nav-buttons>
  <ion-content class="padding" ng-init="editUserToggle=false">
    <p>{{ order.notes}}</p>
        <div>
            <div class="item-divider list-mesure-title" >
                Commun
                <label class="toggle">
                    <input type="checkbox" ng-model="editUserToggle">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <div resume-measures measure="order.measure_user" ng-hide="editUserToggle">resume</div>
        </div>
        <div form-measure measure="order.measure_user" hide-title="true" form="formUser" ng-show="editUserToggle"  style="pointer-events: initial;"></div>
    <div ng-show="form.length == 0">Pas de formulaire</div>

    <div form-measure measure="measure" form="form">directive</div>

    <div resume-measures measure="measure"></div>
    <div class="list">
        <div class="item item-button-right bar big-item">
            <button class="button button-positive icon icon-checkmark pull-right" ng-click="saveAndBackToOrder()">Enregistrer</button>
        </div>
      </div>
  </ion-content>
</ion-view>
