<ion-view view-title="Réglages">
    <ion-nav-buttons side="secondary">
        <div show-login-state></div>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="item item-divider">
            Réglages Server Odoo
        </div>

        <label class="item item-input item-stacked-label">
            <span class="item-label">Url du server </span>
            <input ng-model="settings.odooServer" type="text" placeholder="Serveur Odoo"></input>
        </label>
        <label class="item item-input item-stacked-label">
            <span class="item-label">Nom de la base de donnée </span>
            <input ng-model="settings.odooDb" type="text" placeholder="Base Odoo"></input>
        </label>


        <label class="item item-input item-stacked-label" style="display:none;">
            <span class="item-label">Local Server </span>
            <input ng-model="settings.localServer" type="text" placeholder="PC portable"></input>
        </label>

        <ion-toggle ng-model="global.isLoggedIn" ng-click="!global.isLoggedIn && logout()" ng-disabled="!global.isLoggedIn">État connexion : 
            <span ng-show="global.isLoggedIn">connecté</span>
            <span ng-show="!global.isLoggedIn">pas connecté</span>
        </ion-toggle>

            <div class="item" ng-show="error"><p>{{ error }}</p></div>

            <label class="item item-input item-stacked-label">
                <span class="item-label">Identifiant</span>
                <input ng-model="login.username" type="text" placeholder="Identifiant"></input>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="item-label">Mot de passe </span>
                <input ng-model="login.password" type="password" placeholder="Mot de passe"></input>
            </label>
            <div class="item"><button class="button button-positive" ng-click="login()">Se connecter</button></div>

        <div class="item item-divider">
            Debug
        </div>
        <div class="item"><button class="button button-assertive" ng-click="reset()">Réinitaliser</button> {{ resetMsg }}</div>
    </ion-content>
</ion-view>
