<ion-view view-title="Réglages">
	<ion-nav-buttons side="secondary">
		<div show-login-state></div>
	</ion-nav-buttons>
	<ion-content class="padding">
		<ion-toggle ng-model="global.isLoggedIn" ng-click="!global.isLoggedIn && logout()" ng-disabled="!global.isLoggedIn">État connexion : 
				<span ng-show="global.isLoggedIn">connecté</span>
				<span ng-show="!global.isLoggedIn">pas connecté</span>
			</ion-toggle>
		
		<div class="item" ng-show="!global.isLoggedIn">
      <p>{{ error }}</p>
			<div buche-login buche-login-cb="login" buche-forgot-password-text="" buche-forgot-username-text="">buche</div>
		</div>
		<div class="item" ng-show="global.isLoggedIn">
			<button class="button button-positive" ng-click="loadForm()">LoadForm</button>
		</div>
		<label class="item">Odoo Server <input type="" ng-model="jsonRpc.odoo_server"></input></label>
		<div class="item">
			<label>Local Server <input ng-model="global.localServer"></input></label>
			<button class="button" ng-click="saveLocalServer(global.localServer)">Enregistrer</button></div>
		</div>
		<div class="item"><button class="button button-assertive" ng-click="reset()">Reset</button></div>
	</ion-content>
</ion-view>
